<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'css/475_data.css' %}">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"> 
        <title>
            Home
        </title>
        <link rel="stylesheet" href="475_data.css" type="text/css">
           
    </head>
<body>
      <div id="wrapper"></div>
        <header><h1>Unload</h1></header>
            <nav>
                <a href="{% url 'home' %}">Home&nbsp;</a>
                <a href="{% url 'board' %}">Leaderboard</a>
                <a href="{% url 'form' %}">Form</a>
            </nav>
        <div id="homehero"></div>    

</body>
    <footer>
    Copyright © 2022 
    <br>
    
    </footer>